body{
    background-color: darkorange;
}
form{
    background-color: rgb(255, 255, 255);
    border: solid black 3px;
    width: 50%;
    height: 500px;
}
.from-content{
    display: flex;
    justify-content: center;
}